:root {
    --color-fondo: #f0f0f0;
    --color-navbar: #303841;
    --color-texto: #ffffff;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    background-color: var(--color-fondo);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .header {
    background-color: var(--color-navbar);
    text-align: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .logo img {
    max-height: 50px;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 48px;
    color: var(--color-texto);
    margin: 0;
    padding: 20px;
  }

  h2{
    background-color: #51788d;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  P {
    text-align: justify;
    padding: 20px 30px;
    background-color: #ddd;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-navbar);
    overflow: hidden;
    transition: 0.7s;
  }

  #navbar a.active {
    background-color: #64958f;
    color: white;
  }

  .navbar a {
    display: block;
    color: var(--color-texto);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #3a4750;
  }

  #active {
    background-color: #51788d;
  }

  #contentNota {
    display: flex;
  }
  
  #gif {
    width: 100%;
  }

  #imagen{
    width: 100%;
  }

  .navbar .icon {
    display: none;
    color: var(--color-texto);
    font-size: 24px;
    cursor: pointer;
  }
  
  .content {
    background-color: var(--color-fondo);
    padding: 20px;
    margin: 10px;
  }
  
  .seccion {
    padding: 20px;
  }

  .navbar.down {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-navbar);
    width: 100%;
    padding: 10px;
  }

  .nodisp{
    display: none;
  }

  .notaForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .notaNumero{
    font-size: 70px;
    width: 50%;
    text-align: right;
  }

  .notaMaxima{
    font-size: 70px;
    width: 50%;
  }

  button{
    margin: 10px;
    width: 60px;
    height: 40px;
    font-size: 20px;
  }
  
  #btn1{
    background-color: #f00;
  }

  #btn2{
    background-color: rgb(255, 187, 0);
  }

  #btn3{
    background-color: rgb(247, 195, 26);
  }

  #btn4{
    background-color: #cbf044;
  }

  #btn5{
    background-color: rgb(0, 255, 0);
  }

  #btn1:hover{
    font-size: 6px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 106, 106);
  }

  #btn2:hover{
    font-size: 12px;
    width: 30px;
    height: 30px;
    background-color: rgb(245, 218, 143);
  }

  #btn3:hover{
    background-color: rgb(236, 214, 143);
  }

  #btn4:hover{
    font-size: 50px;
    width: 80px;
    height: 60px;
    background-color: #dff0a1;
  }

  #btn5:hover{
    font-size: 80px;
    width: 100px;
    height: 90px;
    background-color: rgb(160, 243, 160);
  }

  #enviar {
    width: 60%;
  }

  @media (max-width: 768px) {

    .logo {
      margin-bottom: 0px;
    }

    h1 {
      font-size: 32px;
      text-align: center;
    }
    
    .navbar {
      justify-content: center;
      align-items: cnter;
    }
    
    .navbar a {
      display: none;
    }
    
    .navbar a.icon {
      display: block;
      position: relative;
      left: 130px;
      margin-right: 10px;
    }
    
    .navbar.down{
      position: fixed;
      top: 0;
      right: 0;
      padding: 10px 0;
    }
    .navbar.responsive {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 75%;
    }

    .navbar.responsive.down {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 75%;
    }
    
    .navbar.responsive a {
      display: block;
      width: 100%;
      text-align: center;
      background-color: var(--color-navbar);
      color: var(--color-texto);
      border-radius: 0;
      padding: 20px 0;
      margin: 0px;
    }
    
    .navbar.responsive .icon {
      display: block;
      position: relative;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: var(--color-navbar);
      color: var(--color-texto);
    }
    
    .content {
      margin: 10px;
    }
    
    .return .responsive{
      display: block;
      width: 25%;
      position: absolute;
      height: 100%;
      background-color: #000;
    }

    #contentNota{
      display: block;
      margin: auto;
      text-align: center;
    }

    img{
      margin-right: 0;
    }

    .notaMaxima{
      text-align: left;
    }

  }
  